body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.headerPop__background{
    background-color:#0f7672 !important;
}
    .headerPop__background h2{
        color: #fff;
    }

.button{
    color: #fff !important;
    background-color: #0a524f !important;
}

.button:hover{
    background-color: #0a524f !important;
    color: #fff !important;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.btn__recuperarC{
    width: 12rem;
}

.nav__background{
    background-color:#0f7672 !important;
}

#grilla{
    width: 95%;
}

footer{
    background-color: #0f7672;
    width: 100%;
    height: 4rem;
    margin: auto;
}

    footer div{
        color: #fff;
    }

.logo{
    border: 2px solid gray;
}

.navbar-brand{
    color: #fff !important;
}

.main__title{
    text-align: center;
}

.main__grilla{
    background-color: #0f7672;
    width: 95%;
}

.grilla__contenedor{
    border: 1px solid grey;
}

.grilla__cabecera-item{
    color: #fff;
}

.grilla__cabecera{
    height: 2.3rem;
    line-height: 2.3rem;
}

.grilla__fila{
    height: 40px;
}

.fila__par{
    background-color: rgba(255, 255, 255, 0.932);
}
.fila__impar{
    background-color: #fff;
}

.main__flex{
    flex: 1;
}

.row{
    margin: 0px !important;
    padding: 0px !important;
}

.grilla__item-izquierdo{
    border-bottom-left-radius: 1rem;
}

.grilla__item-derecho{
    border-bottom-right-radius: 1rem;
}

.grilla__boton{
    width: 10rem;
}

#formulario{
    width: 90%;
    background-color: #0f7672;
}

.formulario__titulo{
    color: #fff;
}

#contenedorProductos{
    width: 100%;
}

.modal__max-width{
    max-width: 800px !important;
}